<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiyifan.mapper.BlogMapper">
    <resultMap id="category_name_and_username" type="com.shiyifan.pojo.Blog">
        <association property="category" column="blog_category_id" select="selectCategoryById"/>
        <association property="user" column="blog_user_id" select="selectUserById"/>
    </resultMap>

    <select id="selectCategoryById" resultType="com.shiyifan.pojo.Category">
        select category_id, category_name
        from mycategory
        where category_id = #{blog_category_id}
          and is_deleted = 0
    </select>

    <select id="selectUserById" resultType="com.shiyifan.pojo.User">
        select user_id, user_name
        from myuser
        where user_id = #{blog_user_id}
          and is_deleted = 0
    </select>

    <select id="selectBlogListByPageForCommon" resultMap="category_name_and_username">
        select blog_id,blog_title,blog_cover_image,blog_category_id,blog_user_id,is_deleted,create_gmt,update_gmt
        from myblog
        where is_deleted =0
        <if test="categoryId != 0">
            and blog_category_id =#{categoryId}
        </if>
        order by create_gmt desc
    </select>

    <select id="selectBlogByIdForCommon" resultMap="category_name_and_username">
        select *
        from myblog
        where blog_id = #{blogId}
          and is_deleted = 0;
    </select>

    <select id="selectTotalBlogsForAdmin" resultType="_int">
        select count(blog_user_id)
        from myblog
        where blog_user_id = #{userId}
          and is_deleted = 0
    </select>


    <select id="selectElasticSearchBlogByIdForCommon" resultType="com.shiyifan.pojo.ElasticSearchBlog">
        select *
        from myblog
        where blog_id = #{blogId}
          and is_deleted = 0
    </select>
</mapper>
