<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiyifan.mapper.CategoryMapper">
    <select id="selectCategoryForCommon" resultType="com.shiyifan.pojo.Category">
        select category_id, category_name, category_rank, create_gmt, update_gmt
        from mycategory
        where category_rank > 0
          and is_deleted = 0
        order by category_rank desc limit 0,10
    </select>

    <select id="selectCategoryForAdmin" resultType="com.shiyifan.pojo.Category">
        select category_id, category_name, category_rank, category_user_id, create_gmt, update_gmt
        from mycategory
        where category_user_id = #{userId}
          and is_deleted = 0
        order by category_rank desc limit #{pageNow}, #{pageSize};
    </select>

    <select id="getCategoryRankForAdmin" resultType="_int">
        select category_rank
        from mycategory
        where category_id = #{categoryId}
          and category_user_id = #{userId}
          and is_deleted = 0
    </select>

    <update id="addCategoryRankForAdmin">
        update mycategory
        set category_rank=category_rank + 1
        where category_id = #{categoryId}
          and category_user_id = #{userId}
          and is_deleted = 0
    </update>

    <update id="deleteCategoryRankForAdmin">
        update mycategory
        set category_rank=category_rank - 1
        where category_id = #{categoryId}
          and category_user_id = #{userId}
          and is_deleted = 0
    </update>

    <select id="getCategoryIdForAdmin" resultType="_int">
        select blog_category_id
        from myblog
        where blog_id = #{blogId}
          and blog_user_id = #{userId}
          and is_deleted = 0
    </select>

    <select id="getTotalCategoriesForAdmin" resultType="_int">
        select count(category_id)
        from mycategory
        where category_user_id = #{userId}
          and is_deleted = 0
    </select>

    <insert id="addCategoryForAdmin">
        insert into mycategory
        values (null, #{categoryName}, 0, #{userId}, 0, null, null)
    </insert>

    <update id="deleteCategoryForAdmin">
        update mycategory
        set is_deleted =1,
            update_gmt = CURRENT_TIMESTAMP
        where category_id = #{categoryId}
          and category_user_id = #{userId}
    </update>

    <update id="updateCategoryForAdmin">
        update mycategory
        set category_name =#{categoryName},
            update_gmt = CURRENT_TIMESTAMP
        where category_id = #{categoryId}
          and category_user_id = #{userId}
          and is_deleted = 0
    </update>
</mapper>
