<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiyifan.mapper.LoginMapper">
    <!--用户登录-->
    <select id="login" resultType="com.shiyifan.pojo.User">
        select * from myuser
        where user_name= #{username}
          and is_deleted =0
    </select>
</mapper>
